<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <%- include('partials/head') %>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          headerToolbar:{
            start:"today, prev, next",
            center:"title",
            end:"dayGridMonth, timeGridWeek, timeGridDay"
          },
          events: '/events/eventsJSONdata/'
          });
        calendar.render();
      });
    </script>

  </head>
  <body>
    <%- include('partials/nav')%>
    <main>
      <h1>Home</h1>
      <div class="container">
        <div id='calendar'></div>
      </div>
    </main>
  </body>
</html>